*{
    padding: 0;
    margin: 0;
}
:root{
    --primary-color: #f3f3f3;
    --secondary-color: #fff;
    --text-color: black;
    --button-color:rgb(23,124,229);
}
.dark-mode{
    --primary-color: black;
    --secondary-color:#121212;
    --text-color: #BB86FC;
    --button-color:#C38FFF;
}
body{
    font-family: Arial, sans-serif;
    background-color: var(--primary-color);
}
header{
    height: 10%;
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    padding: .5rem;
}
header a{
    color: var(--text-color);
    text-align: center;
    padding: 0;
    text-decoration: none;
    font-size: 18px;
    line-height: 25px;
    border-radius: 4px;
}
header a.logo{
    font-size: 40px;
    padding: .4rem;
    font-weight: bold;
    color:purple;
}
.hamburger{
    display: none;
}
.category{
    display: flex;
    gap: 2rem;
    color: var(--text-color);
    font-size: 20px;
}

#darkModeToggle{
    opacity: 0;
}
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
    margin-right: 20px;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: 0.4s;
    border-radius: 22px;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    transition: 0.4s;
    border-radius: 50%;
  }
  
  input:checked + .slider {
    background-color: var(--button-color);
  }
  
  input:checked + .slider:before {
    transform: translateX(26px);
  }

  

/* main section css */

main{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 90vh;
    z-index: 0;
}

.quote-container{
    color: var(--text-color);
    width: 80%;
    background: var(--secondary-color);
    border-radius: 15px;
    padding: .6rem; 
    text-align: center;
}
.quote-container h2{
    color: var(--text-color);
    font-size: 32px;
    margin-bottom: 40px;
    position: relative;
}
.quote-container h2::after{
    content: '';
    width: 75px;
    height: 3px;
    border-radius: 3px;
    background: purple;
    position: absolute;
    bottom: -10px;
    left: 50%;
    transform: translateX(-50%);
}
.content blockquote{
    font-size: 26px;
    min-height: 110px;
}
.content blockquote::before,.content blockquote::after{
    content: '"';
}
.controls{
    margin: 5px;
}
.controls button{
    background: var(--button-color);
    color: black;
    border-radius: 25px;
    border: 1px solid var(--button-color);
    width: 80px;
    height: 30px;
    margin: 5px;
    cursor: pointer;
}
.font-size button{
    width: 15px;
    font-weight: 400;
    font-size: large;
    border-radius: 80px;
    border: 1px solid var(--button-color);
    background: var(--button-color);
    cursor: pointer;
}


@media screen and (max-width: 768px) {
    .hamburger{
        display: block;
        cursor: pointer;
    }
    .hamburger .line{
        width: 30px;
        height: 3px;
        background: var(--button-color);
        margin: 6px 0;
    }
    header {
        align-items: center;
    }
    
    .category {
        height: 0;
        position: absolute;
        top: 80px;
        left: 0;
        right: 0;
        width: 100vw;
        transition: 0.5s;
        overflow: hidden;
    }
    .category.active{
        height: 100px;
    }
    .category .a{
        display: block;
        margin: 8px auto 0 auto;
        width: fit-content;
        text-align: center;
    }
    
    .switch {
        margin-right: 10px;
    }
    
    main {
        flex-direction: column;
        align-items: center;
    }
    
    .quote-container {
        margin: 10px;
        padding: 3rem;
        width: 90%;
    }
    
    .quote-container h2 {
        font-size: 24px;
        margin-bottom: 20px;
    }
    
    .controls {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    
    .controls button {
        margin: 10rem;
        width: 80px;
        margin: 5px 10px;
    }
}


